@import "../../settings/all";
@import "../../helpers/all";

.smbc-panel {
  @extend .govuk-panel;

  border: 0;
  border-left: 10px solid govuk-colour("smbc-green");
  text-align: left;
}

.smbc-panel--confirmation {
  @extend .govuk-panel--confirmation;

  color: govuk-colour("smbc-black");
  background-color: govuk-colour("smbc-green-light");
}

.smbc-panel--warning {
  color: govuk-colour("smbc-black");
  background-color: govuk-colour("orange");

  @include govuk-media-query($media-type: print) {
    border-color: currentColor;
    color: $govuk-print-text-colour;
    background: none;
  }
}

.smbc-panel--error {
  @extend .govuk-panel--confirmation;

  background-color: govuk-colour("red");
}

.smbc-panel__body {
  @extend .govuk-body;

  margin-bottom: 0;
}
