@import "../../settings/all";
@import "../../helpers/all";

.smbc-button--link {
  margin-bottom: 0;
  padding: 0;
  border: none; // sass-lint:disable-line border-zero
  color: govuk-colour("blue");
  background: none;
  box-shadow: none;
  text-decoration: underline;
  cursor: pointer;

  &:hover {
    color: govuk-colour("blue");
    background-color: transparent;
  }

  &:focus:not(:active):not(:hover) {
    color: govuk-colour("black");
    background-color: govuk-colour("yellow");
    box-shadow: 0 -2px govuk-colour("yellow"), 0 4px govuk-colour("black");
    text-decoration: none;
  }
}

.smbc-button__remove--add-another {
  position: absolute;
  top: 0;
  right: 0;
}
