@import "../settings/all";
@import "../helpers/all";

.smbc-footer {
  @extend .govuk-footer; // sass-lint:disable-line placeholder-in-extend

  border-top-width: 4px;
}

.smbc-footer__logo { // sass-lint:disable-line class-name-format
  @extend .govuk-footer__copyright-logo; // sass-lint:disable-line placeholder-in-extend
  @include govuk-media-query($from: mobile) {
    min-width: 180px;
    padding-top: 37px;
    background-image: govuk-image-url($logo-footer-180x37);
    background-size: 180px 37px;
    text-align: left;
  }
  @include govuk-media-query($from: desktop) {
    min-width: 200px;
    padding-top: 41px;
    background-image: govuk-image-url($logo-footer-200x41);
    background-size: 200px 41px;
  }
}

.smbc-footer__meta-item-logo { // sass-lint:disable-line class-name-format
  @extend .govuk-footer__meta-item; // sass-lint:disable-line placeholder-in-extend
  @include govuk-media-query($from: mobile) {
    width: 100%;
    order: -1;
  }

  @include govuk-media-query($from: desktop) {
    width: unset;
    order: unset;
  }
}
