@import "../../helpers/all";
@import "../../settings/all";

#root > #map.leaflet-container, // sass-lint:disable-line no-ids
#map.leaflet-container { // sass-lint:disable-line no-ids
  width: 100%;
  max-width: unset;
  height: 100%;
  font: 19px / 2 $govuk-font-family;

  @include govuk-media-query($from: mobile) {
    font: 16px / 2 $govuk-font-family;
  }
}
