@import "../../helpers/all";
@import "../../settings/all";

.smbc-map__container .leaflet-control-container { // sass-lint:disable-line no-ids
  display: flex;
  height: 100%;
  flex-direction: row;

  .leaflet-control-layers-toggle,
  .leaflet-control-zoom-in,
  .leaflet-control-zoom-out,
  .leaflet-control-fullscreen-button {
    margin-bottom: 0;
  }

  .leaflet-control-layers-selector {
    display: inline-block;
    width: 15px;
    margin-bottom: 0;
  }

  .leaflet-control-layers-toggle {
    width: 36px !important;
    height: 36px !important;
  }

  .leaflet-top.leaflet-left {
    position: relative;
    order: 1;
  }

  .leaflet-top.leaflet-right {
    position: relative;
    order: 3;
  }

  .leaflet-bottom.leaflet-left {
    position: relative;
    padding: 10px;
    flex-grow: 1;
    order: 2;
  }

  .leaflet-control-search.search-load .search-cancel {
    visibility: hidden;
  }

  .leaflet-control-search.leaflet-control {
    display: flex;
    position: relative;
    z-index: 1000;
    width: 100%;
    margin: 0 !important;
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    border: 2px solid rgba(0, 0, 0, .2); // sass-lint:disable-line no-color-literals
    border-radius: 4px;
    background: govuk-colour("white");
    background-color: govuk-colour("white");
    background-clip: padding-box;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;

    input.search-input { // sass-lint:disable-line no-qualifying-elements
      display: block;
      max-width: 70%;
      height: 28px;
      margin: 4px 0 4px 4px;
      padding: 0 20px 0 2px;
      float: left;
      transform: scale(.83) translate(0, 2px);
      border: 0;
      border-radius: 2px;
      outline: none;
      background: none;
      font-size: govuk-px-to-rem(16);
      flex-grow: 1;
      transform-origin: top left;

      &::placeholder {
        color: govuk-colour("smbc-black");
      }

      @include govuk-media-query($from: desktop) {
        max-width: 85%;
      }
    }

    .search-tooltip {
      display: block;
      position: absolute;
      z-index: 1;
      top: 100%;
      left: 0;
      width: 100%;
      min-width: 120px;
      max-height: 200px;
      margin: 1px, 0, 0, 0;
      padding-left: 0;
      float: left;
      overflow-x: hidden;
      overflow-y: auto;
      list-style: none;
      box-shadow: 0 5px 20px rgba(0, 0, 0, .2); // sass-lint:disable-line no-color-literals
      cursor: pointer;

      > .search-tip {
        display: block;
        margin: 0;
        padding: 7px;
        border-bottom: 1px govuk-colour("light-grey") solid;
        border-radius: 0;
        color: govuk-colour("smbc-black");
        background: govuk-colour("white");
        font-size: .75em;
        text-decoration: none;
        white-space: nowrap;
        cursor: pointer;

        &:hover {
          color: govuk-colour("white");
          background-color: govuk-colour("dark-grey");
        }
      }

      > .search-tip-select { // sass-lint:disable-line no-qualifying-elements
        border-top: 3px solid $govuk-focus-colour;
        border-bottom: 3px solid $govuk-focus-colour;
        color: govuk-colour("white");
        background-color: govuk-colour("dark-grey");
      }
    }

    .search-cancel {
      display: block;
      position: absolute;
      right: 28px;
      width: 22px;
      height: 32px;
      margin: 4px 0 0 0;
      opacity: .8;
      background: none;
      line-height: 26px;
      text-decoration: none;
      filter: alpha(opacity=80);

      span {
        display: none;
      }

      &:hover {
        opacity: 1;
        background-color: govuk-colour("light-grey");
        filter: alpha(opacity=100);
      }

      &::after {
        content: "\f00d";
        visibility: visible;
        border: 0;
        color: govuk-colour("dark-grey");
        background: 0 0;
        font-family: "FontAwesome";
        font-size: 20px;
      }
    }
  }
}
