@import "../../helpers/all";
@import "../../settings/all";

.smbc-map__item:not(:first-of-type) {
  padding-top: 10px;
}

.smbc-map__item__header__block {
  display: flex;
  color:  govuk-colour("light-grey");
  align-items: center;
  @include govuk-font($size: 19);

  &__icon {
    width: 17px;
    padding-right: 10px;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 0;
    @include govuk-font($size: 16);
  }
}

.smbc-map__item__body {
  @extend .smbc-body;
  padding-left: 27px;
  color: govuk-colour("white");
}

.leaflet-popup > .leaflet-popup-content-wrapper {
  width: 100%;
  border-radius: 3px;
  color: govuk-colour("white");
  background-color: rgba(0, 0, 0, 0.9); // sass-lint:disable-line no-color-literals leading-zero

  .leaflet-popup-content {
    max-width: 270px;
    max-height: 400px;
    margin: 25px 5px 19px 13px;
    padding: 5px 20px 5px 5px;
    overflow-y: auto;
    line-height: 1.4;
    word-break: break-word;

    &:not(:last-of-type) {
      border-bottom: 2px solid govuk-colour("light-grey");
    }

    .item {
      padding-left: 24px;

      > .title { // sass-lint:disable-line no-qualifying-elements
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        color: govuk-colour("light-grey");
        font-size: 16px;
        font-weight: 400;
      }
    }

    .info {
      margin-top: 0;
    }

    a {
      color: govuk-colour("white");
    }

    .button-primary {
      box-sizing: border-box;
      width: 100%;
      margin-bottom: 10px;
      font: 1em/2 $govuk-font-family;
    }

    div[class^="message-"] {
      box-sizing: border-box;
      width: 100%;
      min-width: 0;
      margin-bottom: 10px;
      padding: 20px;
      border-radius: 3px;
      line-height: 20px;
      text-align: center;
    }

    .message-fault {
      color: govuk-colour("white");
      background-color: $govuk-error-colour;
    }

    .message-maintenance {
      color: govuk-colour("smbc-black");
      background-color: govuk-colour("orange");
    }

    .last-updated {
      color: govuk-colour("light-grey");
      font-size: 16px;
      text-align: center;
    }
  }
}

.smbc-map__container .leaflet-popup > .leaflet-popup-close-button {
  display: inline-block;
  padding-right: 6px;
  font: normal normal 600 24px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.leaflet-popup-tip-container > .leaflet-popup-tip {
  background-color: rgba(0, 0, 0, 0.9); // sass-lint:disable-line no-color-literals leading-zero
}
