////
/// @group settings/typography
////

$govuk-fonts-path: './assets/fonts/';
$govuk-font-family: 'Public Sans', Helvetica, Arial, sans-serif;
$govuk-font-weight-bold: 800;

@import './helpers/font-faces';
@include _smbc-font-face-public-sans;