.smbc-notification-banner {
  @extend .govuk-notification-banner;

  max-width: 950px;
  margin-left: auto;
  margin-right: auto;
}

.smbc-notification-banner__content {
  @extend .govuk-notification-banner__content;

  * {
    max-width: 100%;
    font-weight: $smbc-font-weight-light-bold;
  }
}
