@import "../../settings/all";
@import "../../helpers/all";

.smbc-table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

.smbc-calendar-border {
  border: 2px solid govuk-colour("smbc-black");
}

.smbc-calendar-month-year {
  color: govuk-colour("smbc-black");

  @include govuk-media-query($from: mobile) {
    font: 20px;
  }
}

.smbc-table-body {
  border: 2px solid govuk-colour("smbc-black");
}

.smbc-table-body input[type="radio"] {
  position: fixed;
  width: 0;
  opacity: 0;
}

.smbc-table-body label,
.smbc-table-body span {
  display: flex;
  width: 48px;
  height: 48px;
  max-height: 48px;
  color: govuk-colour("smbc-black");
  font-size: 18px;
  text-align: center;
  justify-content: center;
  align-items: center;

  @include govuk-media-query($from: mobile) {
    font: 16px;
  }
}

.smbc-table-body label:hover {
  color:  govuk-colour("smbc-black");
  background-color: govuk-colour("smbc-pale-blue");
  cursor: pointer;
}

.smbc-table-body td input[type="radio"]:checked + label {
  color:  govuk-colour("white");
  background-color: govuk-colour("smbc-blue");
}

.smbc-calendar-cell {
  width: 48px;
  height: 48px;
  max-height: 48px;
  padding: 0;
  border: 1px solid govuk-colour("white");
  font-size: 18px;
  text-align: center;

  @include govuk-media-query($from: mobile) {
    font: 16px;
  }
}

.smbc-calendar-weekdays {
  color: govuk-colour("smbc-black");
  background-color: $govuk-calendar-weekdays-colour;
}

.smbc-table-body .smbc-date-disabled {
  color: govuk-colour("mid-grey");
  background: govuk-colour("light-grey");

  span {
    color: govuk-colour("mid-grey");
  }
}

.smbc-table-body .smbc-date-disabled:hover {
  color: govuk-colour("mid-grey");
  background: govuk-colour("light-grey");
  cursor: default;
}

.smbc-chevron-button {
  width: 70px;
  height: 55px;
  border: 0;
  color: govuk-colour("smbc-black");
  background-color: govuk-colour("white");
}

.smbc-chevron-button:hover {
  cursor: pointer;
}

.smbc-chevron-button__left {
  float: left;
  text-align: left;

  .smbc-calendar-chevron__left {
    padding-left: 20%;
  }
}

.smbc-chevron-button__right {
  float: right;
  text-align: right;

  .smbc-calendar-chevron__right {
    padding-right: 20%;
  }
}

.smbc-calendar-chevron {
  color: govuk-colour("smbc-black");
  font-size: 24px;
}
