@import "../helpers/all";

.smbc-\!-font-color-white {
  color: govuk-colour("white") !important;
}

.smbc-\!-font-color-black {
  color: govuk-colour("black") !important;
}

.smbc-\!-font-word-break {
  word-break: break-all !important;
}
