@import "../helpers/all";

.smbc-\!-font-color-white {
  color: govuk-colour("white") !important;
}

.smbc-\!-font-color-black {
  color: govuk-colour("black") !important;
}

.smbc-\!-font-word-break {
  word-break: break-all !important;
}

.smbc-\!-align-left {
  text-align: left;
}

.smbc-\!-align-right {
  text-align: right;
}

.smbc-\!-align-center {
  text-align: center;
}
