@import "../../settings/all";
@import "../../helpers/all";

.smbc-time-of-day {
  display: flex;
  max-width: 344px;
  flex-direction: row;
  flex-wrap: wrap;
}

.smbc-tab {
  width: 150px;
  height: 5px;
  border-bottom: 4px solid govuk-colour("mid-grey");
  color: govuk-colour("smbc-black");
  font-size: 24px;
  text-align: center;
  cursor: pointer;

  @include govuk-media-query($from: mobile) {
    font-size: 20px;
  }
}

.smbc-tab__right {
  float: left;
}

.smbc-tab__left {
  float: right;
}

.smbc-tab:hover {
  border-bottom: 5px solid govuk-colour("smbc-blue");
}

.smbc-time-of-day input[type="radio"],
.smbc-time-selection input[type="radio"] {
  position: fixed;
  width: 0;
  opacity: 0;

  &:focus:not(:active):not(:hover) + label {
    outline: 2px solid govuk-colour("yellow");
  }
  }

.smbc-time-of-day input[type="radio"]:checked + label {
  border-bottom: 5px solid govuk-colour("smbc-blue");
}

.smbc-time-selection {
  display: flex;
  max-width: 344px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.smbc-time {
  display: flex;
  width: 88px;
  height: 45px;
  border: 2px solid;
  border-radius: 2;
  border-color: govuk-colour("smbc-blue");
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  align-items: center;
  justify-content: center;

  @include govuk-media-query($from: mobile) {
    font-size: 16px;
  }
}

.smbc-time-column-1 {
  float: left;
}

.smbc-time-column-2 {
  margin-right: auto;
  margin-left: auto;
}

.smbc-time-column-3 {
  float: right;
}

.smbc-time-selection input[type="radio"]:checked + label {
  color: govuk-colour("white");
  background-color: govuk-colour("smbc-blue");
}

.smbc-tab:hover {
  border-bottom: 5px solid govuk-colour("smbc-blue");
}

.smbc-time-input:checked + label {
  background: govuk-colour("white");
}
