.smbc-tab {
  width: 150px;
  height: 5px;
  color: govuk-colour("smbc-black");
  font-size: 24;

  @include govuk-media-query($from: mobile) {
    font: 20px;
  }
}

.smbc-tab-selected {
  background-color: govuk-colour("smbc-blue");
}

.smbc-tab-deselected {
  background-color: govuk-colour("mid-grey");
}

.smbc-tab:hover {
  background-color: govuk-colour("smbc-blue");
}

.smbc-time-button-deselected {
  width: 88px;
  height: 45px;
  border: 2px;
  border-radius: 2;
  color: govuk-colour("smbc-blue");
  font-size: 18;

  @include govuk-media-query($from: mobile) {
    font: 18px;
  }
}

.smbc-time-button-selected {
  width: 88px;
  height: 45px;
  border: 2px;
  border-radius: 2;
  color: govuk-colour("white");
  background-color: govuk-colour("smbc-blue");
  font-size: 18;

  @include govuk-media-query($from: mobile) {
    font: 18px;
  }
}
