@import "../../helpers/all";

.smbc-time-input__item {
  @extend .govuk-date-input__item;

  margin-right: 10px;
}

.smbc-time-input__divider {
  @extend .govuk-heading-m;

  display: inline-block;
  margin-right: 10px;

  &::after {
    content: ":";
  }
}

.smbc-embeddable {
  padding: 0;
  overflow-y: auto;
  background-color: govuk-colour("white");
}
