@import "../../settings/all";
@import "../../helpers/all";

.smbc-section {
  padding: govuk-spacing(6);

  @include govuk-media-query($from: tablet) {
    margin-right: govuk-spacing(8);
  }
}

.smbc-section-vertical-separator--right {
  @include govuk-media-query($from: tablet) {
    border-right: 1px solid $govuk-border-colour;
  }
}

.smbc-section--bordered {
  border: 1px solid $govuk-border-colour;
}
