////
/// @group settings/assets
////

$govuk-assets-path: "./assets/";

$govuk-images-path: "#{$govuk-assets-path}images/" !default;

$govuk-fonts-path: "#{$govuk-assets-path}fonts/" !default;

$fa-font-path: "#{$govuk-assets-path}fonts/font-awesome" !default;

$logo-footer-180x37: "smbc_footer_mobile_logo_180x37.png";
$logo-footer-200x41: "smbc_footer_desktop_logo_200x41.png";
$logo-header-180x37: "smbc_header_mobile_logo_180x37.png";
$logo-header-200x41: "smbc_header_desktop_logo_200x41.png";
