////
/// @group settings/colours
////

@import "../helpers/colour";

$govuk-brand-colour: govuk-colour("smbc-green");
$govuk-link-colour: govuk-colour("smbc-green");
$govuk-link-hover-colour: govuk-colour("smbc-black");
$govuk-calendar-weekdays-colour: govuk-colour("smbc-dark-teal");
