@import "../../settings/all";
@import "../../helpers/all";

.smbc-add-another--fieldset {
  position: relative;
}

.smbc-add-another--legend {
  @include govuk-media-query($from: mobile) {
    margin-bottom: govuk-spacing(7);
  }

  width: 100%;
  float: left;
}
