@import "../../helpers/all";

.smbc-accordion__item {
  display: block;
}

.smbc-accordion__item--hidden {
  display: none;
}

.smbc-accordion__icon {
  &--open::before {
    content: "\f146";
    visibility: visible;
    border: 0;
    color: govuk-colour("smbc-black");
    background: 0 0;
    font-family: "FontAwesome";
    font-size: 20px;
  }

  &--closed::before {
    content: "\f0fe";
    visibility: visible;
    border: 0;
    color: govuk-colour("smbc-black");
    background: 0 0;
    font-family: "FontAwesome";
    font-size: 20px;
  }
}
